<app-navbar/>
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">About Me</h1>
                <img src="headshot.jpg" alt="Photo of Nick" class="float-end rounded">
                <p>
                   I am a computer programmer living in Goleta, CA available for freelance software development.
                   While I can work with any technology required for your project, my strongest skillset is 
                   in building and operating cost-effective and highly-scalable web applications in the cloud with Amazon Web Services (AWS). 
                   You can check out some of my personal projects on this website. I also offer general computer help in the Goleta area.
                </p>
                <h5>Education</h5>
                <ul>
                    <li>BA in Mathmatics from University of California, Santa Barbara</li>
                </ul>
                <h5>Certifications</h5>
                <ul>
                    <li>AWS Certified DevOps Engineer Professional</li>
                    <li>AWS Certified Developer Associate</li>
                    <li>AWS Certified Solutions Architect Associate</li>
                    <li>Oracle Certified Java Programmer Associate</li>
                </ul>
                <h5>Technologies</h5>
                <ul>
                    <li>Java, Python, C++, Javascript, Typescript, BASH, PowerShell, LEAN</li>
                    <li>Windows, Linux</li>
                    <li>Angular, Bootstrap, Tailwind</li>
                    <li>AWS Lambda, EC2, S3, DynamoDb, RDS, CloudFront, CloudFormation, CDK</li>
                    <li>Spring Framework, Spring Boot, Spring Data JPA, Spring AI</li>
                    <li>Numerical Algorithms, Digital Signal Processing</li>
                </ul>
            </div>
        </div>
    </div>
</div>