<app-navbar />
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Null Set Modules</h1>
                <p>
                    Null Set is a collection of modules for composing music in the VCV Rack modular synthesizer written in C++. 
                    They are available in <a href="library.vcvrack.com">the public library</a> where over 1,000 users have already installed them.
                    The code is free and open source and <a href="https://github.com/nicholas-j-denning/NullSet">the repository is on GitHub</a>.
                </p>
                <img src="nullset_all.png" alt="Screenshot of Null Set modules" class="img-fluid">
            </div>
        </div>
    </div>
</div>
